nav {
    padding: 0;
}

.navbar {
    background-color: #000 !important;
}

a {
    color: #fff !important;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav {
    font-size: 18px;
}

#brand-text {
    margin-left: 10px;
    font-size: 36px;
    font-weight: bold;
}

.fa-bars {
    color: white;
}