<!-- Only show component when fully loaded -->
<div *ngIf="isAllDataLoaded" class="card post">
  <div class="card-header post-header">
    <i id="user-icon" class="bi fa-lg bi-person-circle"></i>
    <span>{{ getUserName() }}&nbsp;|&nbsp;</span>
    <span>{{ getUserType() }}&nbsp;|&nbsp;</span>
    <span>{{ getInfo() }}&nbsp;|&nbsp;</span>
    <span>{{ user?.Pronouns }}&nbsp;|&nbsp;</span>
    <span>Post id: {{ post.Id }}</span>
    <button id="flag-btn" type="button" class="btn btn-outline-warning">
      <i class="bi bi-flag-fill"></i>
    </button>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{post.Title}} </h5>
    <p class="card-text">{{post.Body}}</p>
  </div>
  <div class="card-footer post-footer">
    <button type="button" class="btn btn-outline-warning" (click)="upvotePost()">
      <i class="bi fa-lg bi-heart-fill"></i>
    </button><span>{{ post.Upvotes }} Upvotes </span>  
    <button type="button" (click)="commentRedirect(post.Id)" class="btn btn-outline-warning">
      <i class="bi fa-lg bi-chat-dots-fill"></i>
    </button><span>{{ numComments }} Comments</span>
    <button type="button" (click)="goToTigerSpace()" class="btn btn-outline-warning">
      <i class="fa fa-lg fa-paw" aria-hidden="true"></i>
    </button> Tiger Space
    <div class="time-stamp">{{ post.Bump | date: 'short' }}</div> 
  </div>
</div>

<!-- Spinner for loading post -->
<div *ngIf="!isAllDataLoaded" class="text-center">
  <div class="spinner-border spinner-border-sm" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>