<div>
    <h1 style="text-align: center;">Community Guidelines</h1>
</div>
<div class="guidelines" style="text-align: center;">
    <br>
    <b>By creating a Tiger Talks account and posting on Tiger Talks, you agree to the following guidelines:</b>
    <br><br>
    <ul>
        <li>Respect the privacy of other users.</li>
        <li>Do not share or request private information.</li>
        <li>No offensive, disrespectful, or explicit language. This includes harassment, threats, and hate speech.</li>
        <li>Keep your content related to its associated tiger space.</li>
        <li>Before asking questions, please check to see if they have already been answered.</li>
        <li>You must be part of Towson staff/students to post content.</li>
        <li>Do not report content without good reason.</li>
        <li>No spam. Do not post the same content multiple times.</li>
        <li>No cheating or plagiarism. Do not share or ask for any answers to coursework provided by Towson University.</li>
        <li>No self-promotion that is irrelevant to the Tiger Space the post is within.</li>
        <li>No illegal activity.</li>
        </ul>
</div>
