.title {
    color: var(--tu-orange);
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.guidelines {
    display: flex;
    align-items: center;
    justify-content: center;
}

.guidelines > div {
    padding-left: 50px;
}