<app-banner [bannerTitle]="pageTitle"></app-banner>
<div class="container">
    <div class="guidelines">
        <div>
            <strong>By creating a Tiger Talks account and posting on Tiger Talks, you agree to the following guidelines:</strong>
            <ol>
                <li>Respect the privacy of other users.</li>
                <li>Do not share or request private information.</li>
                <li>No offensive, disrespectful, or explicit language. This includes harassment, threats, and hate speech.</li>
                <li>Keep your content related to its associated Tiger Space.</li>
                <li>Before asking questions, please check to see if they have already been answered.</li>
                <li>You must be a Towson University faculty member or student to post content.</li>
                <li>Do not report content without good reason.</li>
                <li>No spam. Do not post the same content multiple times.</li>
                <li>No cheating or plagiarism. Do not share or ask for answers to coursework provided by Towson University.</li>
                <li>No self-promotion that is irrelevant to the Tiger Space the post is within.</li>
                <li>No illegal activity.</li>
            </ol>
        </div>
    </div>
</div>
