html,
body {
  height: 100%;
}

.signin-wrapper {
  height: 100%;
  min-width: 100%;
  max-width: 300px;
  width: 100%;

}

.signin-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.signin-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}
