nav {
    padding: 0;
    background-color: #dddddd; /* Not sure if this did anything, wanted to change the navbar to contrast more */
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

#brand-text {
    margin-left: 10px;
    font-size: 36px;
    font-weight: bold;
}
