<app-banner [bannerTitle]="pageTitle"></app-banner>

<div class="container">
    <div id="tigerspace-div" class="mx-auto w-75">
        <form id="tigerspace-form" #tigerspaceForm="ngForm" class="row g-3" (ngSubmit)="onSubmit()">
            
            <div class="text-danger" *ngIf="!isFaculty">&nbsp;* Must be faculty to create a Tiger Space.</div>
            <!-- Title -->
            <div class="col-md-12">
                <div class="form-group">
                    <label for="title" class="form-label">Title</label>
                    <small class="text-danger" *ngIf="title.errors?.required">&nbsp;*</small>
                    <input id="title" #title="ngModel" [(ngModel)]="newTigerSpaceData.title"
                        name="title" type="text" class="form-control" required>
                </div>
            </div>

            <!-- Type -->
            <div class="col-md-12">
                <label for="type" class="form-label">Type</label>
                <small class="text-danger" *ngIf="type.errors?.required">&nbsp;*</small>
                <select id="type" #type="ngModel" [(ngModel)]="newTigerSpaceData.type" 
                    name="type" class="form-select" required>
                    <option value="">Select a type...</option>
                    <option value="Academic">Academic</option>
                    <option value="Social">Social</option>
                </select>
            </div>

            <!-- Description -->
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description" class="form-label">Description</label>
                    <small class="text-danger" *ngIf="description.errors?.required">&nbsp;*</small>
                    <textarea id="description" class="form-control" type="textarea" rows="3" required
                        name="description" #description="ngModel" [(ngModel)]="newTigerSpaceData.description"></textarea>
                </div>
            </div>
            
            <div class="col-12">
                <button id="submit-btn" [disabled]="tigerspaceForm.form.invalid || !isFaculty" type="submit" class="btn btn-lg">Submit</button>
                <div class="text-danger required-msg" *ngIf="tigerspaceForm.form.invalid">&nbsp;* Required</div>
            </div>
        </form>
    </div>
</div>