<div class="container">
    <div id="signin-div" class="mx-auto">
        <h1>Sign In</h1>
        <hr />
        <form id="signin-form" method="POST" action="/auth" class="row g-3">
            <div class="col-md-12">
                <label for="netID" class="form-label">Net ID</label>
                <input id="netID" name="netID" type="text" class="form-control" required>
            </div>
            <div class="col-md-12">
                <label for="password" class="form-label">Password</label>
                <input id="password" type="password" class="form-control" required>
            </div>
            <div class="col-12">
                <button id="signin-btn" type="submit" class="btn btn-lg">Sign In</button>
            </div>
        </form>
    </div>
</div>