<app-banner [bannerTitle]="pageTitle"></app-banner>
<div class="container">
    <div id="signin-div" class="mx-auto">
        <!-- Alert for Errors -->
        <div *ngIf="error?.message" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error?.message }}
            <div *ngIf="error.type === 403"><a routerLink="/signin" (click)="resend()">Resend verification email</a></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
        <!-- Form -->
        <form id="signin-form" #signinForm="ngForm" method="POST" class="row g-3">
            <div class="form-group">
                <label for="netID" class="form-label">Net ID</label>
                <input id="netID" #netID="ngModel" 
                    [(ngModel)]="loginUserData.netID" name="netID"
                    type="text" class="form-control" required>
                <small class="text-danger" [class.d-none]="!netID.errors || 
                    netID.untouched">Net ID is required</small>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input id="password" #password="ngModel"
                    name="password" [(ngModel)]="loginUserData.password" 
                    type="password" class="form-control" required>
                <small class="text-danger" [class.d-none]="!password.errors || 
                    password.untouched">Password is required</small>
            </div>
            <div class="col-12">
                <button id="signin-btn" (click)="loginUser()" [disabled]="signinForm.form.invalid"
                    type="submit" class="btn btn-lg">Sign In</button>
            </div>
        </form>
    </div>
</div>