<ng-container>
    <div>
        <h1 style="text-align: center;">Welcome to Tiger Talks!</h1>
    </div>
    <div class="tiger_spaces">
        <h5>Tiger Spaces</h5>
        <ul>
            <li>Academic
                <ul>
                    <li><a href="">College of Business and Economics (CBE)</a></li>
                    <li><a href="">College of Education</a></li>
                    <li><a href="">College of Fine Arts and Communication (CFA)</a></li>
                    <li><a href="">College of Health Professions (CHP)</a></li>
                    <li><a href="">College of Liberal Arts (CLA)</a></li>
                    <li><a href="">Fisher College of Science and Mathematics (FCSM)</a></li>
                    <li><a href="">Honors College</a></li>
                    <li><a href="">Others</a></li>
                </ul>
            </li>
            <li>Social
                <ul>
                    <li><a href="">Housing</a></li>
                    <li><a href="">Club and Organizations</a></li>
                    <li><a href="">Campus Life</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="posts">
        <p>Posts will go here.</p>
    </div>
</ng-container>