<ng-container>
    <div class="container-fluid">
        <div>
            <h1 style="text-align: center;">Welcome to Tiger Talks!</h1>
            <!-- <h2 style="text-align: center;">{{ message }}</h2> -->
        </div>
        <div class="row">
            <div class="col-md-3 tiger-spaces">
                <tigerspace-list></tigerspace-list>
            </div>
            <div class="col-md-9">
                <div class="right">
                    <p>Recent posts will go here.</p>
                </div>
            </div>
        </div>
    </div>
</ng-container>