<div class="container-fluid border" *ngFor="let post of post">
    <div class="card">
        <div class="card-header"><i class="bi bi-person-circle"></i>
            {{post.UserId}} | Guest Post id: {{post.Id}}
        </div>
        <div class="card-body">
        <h5 class="card-title">{{post.Title}} </h5>
        <p class="card-text">{{post.Body}}</p>
        </div>
        <div class="card-footer">
            <div class="time-stamp"> {{post.Timestamp}}</div> 
        </div>
    </div>
    <div>
        <button type="button" style="float:right;" class="btn btn-outline-warning"><i class="bi bi-check-circle"></i></button>
    </div>
</div>