<app-banner [bannerTitle]="pageTitle"></app-banner>
<div class="container">
    <div>
        <h5 id='page-description'>{{ pageDescription }}</h5>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-4">
            <tigerspace-list></tigerspace-list>
        </div>
        <div class="col-md-8">
            <h1>Post</h1>
            <post [post]="post"></post>
            <h1>Comments</h1>
            <div *ngFor="let comment of comments">
                <comment [comment]="comment"></comment>
            </div>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <textarea class="form-control" id="body" name="body" placeholder="Add a comment" rows="3"></textarea>
                    <button type="submit" class="btn submit-btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>