<html>
    <head>

    </head>
    <body>
        <div class="tb">
            <form [formGroup]="postForm">
                <!-- <mat-form-field>
                    <mat-label for="title">Title: </mat-label> <br>
                    <input id="title" type="text" formControlName="title">
                    <br>
                    <mat-label for="body">Body: </mat-label> <br>
                    <textarea id="body" class="postBody" type="textarea" rows="10" formControlName="body"></textarea> <br>
                    <button id="postButton">Post</button>
                </mat-form-field>   -->
                
                <label for="title">Title: </label> <br>
                <input id="title" type="text" formControlName="title">
                <mat-form-field id="categoriesList" appearance="fill">
                    <mat-chip-list #chipList aria-label="Category" formControlName="category">
                        <mat-chip *ngFor="let category of categories" [selectable]="selectable" [removable]="removable" (removed)="remove(category)">
                            {{category.name}}
                            <button matChipRemove *ngIf="removable">
                                <mat-icon class="material-icons">delete</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New category..."
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
                <br>
                <label for="body">Body: </label> <br>
                <textarea id="body" class="postBody" type="textarea" rows="10" formControlName="body"></textarea> <br>
                <button id="postButton">Post</button>

            </form>
        </div>
    </body>
</html>
