        <div class="row justify-content-md-center">
            <form class="w-75">
            <!-- <form [formGroup]="postForm">                 -->
                <div>
                    <label for="title" class="form-label">Title: </label>
                    <input id="title" type="text" class="form-control" formControlName="title">
                    <select class="form-select" aria-label="Category:">
                        <option selected>Category:</option>
                        <option value="Academic">Academic</option>
                        <option value="Social">Social</option>
                      </select>
                </div>
                <label for="body" class="form-label">Body: </label> <br>
                <textarea id="body" class="form-control" type="textarea" rows="10" formControlName="body"></textarea> <br>
                <button id="postButton" class="btn btn-lg">Post</button>
            </form>
        </div>