/* .tb {
    float: left;
    margin: 5%;
    width: 70%;
    height: 35%;
} */

.postBody{
    width: 100%;
}

.material-icons{
    font-family: 'Material Icons' !important;
}

#categoriesList{
    font-size: smaller;
}

#postButton {
    float: right;
    background-color: var(--tu-orange);
    font-weight: bold;
}