<div class="container mb-3">
    <div class="title">
        <h1>Tiger Spaces</h1>
    </div>
    <div id="academic">
        <h2>Academic</h2>
        <div class="d-flex flex-wrap">
            <tigerspace-thumbnail></tigerspace-thumbnail>
            <tigerspace-thumbnail></tigerspace-thumbnail>
            <tigerspace-thumbnail></tigerspace-thumbnail>
            <tigerspace-thumbnail></tigerspace-thumbnail>
            <tigerspace-thumbnail></tigerspace-thumbnail>
            <tigerspace-thumbnail></tigerspace-thumbnail>
        </div>
    </div>
    <hr>
    <div id="social">
        <h2>Social</h2>
        <div class="d-flex flex-wrap">
            <tigerspace-thumbnail></tigerspace-thumbnail>
            <tigerspace-thumbnail></tigerspace-thumbnail>
            <tigerspace-thumbnail></tigerspace-thumbnail>
            <tigerspace-thumbnail></tigerspace-thumbnail>
        </div>
    </div>
</div>