<div class="container">
    <div id="profileDisplay-div" class="mx-auto">
        <h1>Profile
            <a id="editProfile-btn" href="#/editProfile">
                <button title="Update Profile" class="btn btn-lg"><i class="bi bi-pencil-square"></i></button>
            </a>
        </h1>
        <hr />
        <h3>NetID: {{user.Id}}</h3> 
        <h3>Email: {{user.Email}}</h3>
        <h3>Name: {{user.FirstName}} {{user.LastName}}</h3>
        <h3>Preferred Name: {{user.PreferredName}}</h3>
        <h3>Preferred Pronouns: {{user.Pronouns}}</h3>
        <h3>Bio: {{user.Bio}}</h3>
    </div>
</div>