<div class="container">
    <div id="profileDisplay-div" class="mx-auto">
        <h1>Profile
            <a id="editProfile-btn" href="#/editProfile">
                <button title="Update Profile" class="btn btn-lg"><i class="bi bi-pencil-square"></i></button>
            </a>
            <a id="moderator-btn" href="#/moderator" *ngIf="isModerator()">
                <button title="Moderator" class="btn btn-lg"><i class="bi bi-journal-check"></i></button>
            </a>
        </h1>
        <hr />
        <h3>NetID: <span class="unbold">{{user?.Id}}</span></h3>
        <h3>Email: <span class="unbold">{{user?.Email}}</span></h3>
        <h3>Name: <span class="unbold">{{user?.FirstName}} {{user?.LastName}}</span></h3>
        <h3>Preferred Name: <span class="unbold">{{user?.PName}}</span></h3>
        <h3>Preferred Pronouns: <span class="unbold">{{user?.Pronouns}}</span></h3>
        <div *ngIf="isStudent()">
            <h3>Major: <span class="unbold">{{studentInfo?.Major}}</span></h3>
        </div>
        <div *ngIf="isFaculty()">
            <h3>Title: <span class="unbold">{{facultyInfo?.Title}}</span></h3>
            <h3>Department: <span class="unbold">{{facultyInfo?.Department}}</span></h3>
        </div>
        <h3>Bio: <span class="unbold">{{user?.Bio}}</span></h3>
    </div>
</div>