#signup-div {
    margin-top: 20px;
    width: 600px;
}

#signup-btn {
    background-color: var(--tu-orange);
    font-weight: bold;
}

form i {
    cursor: pointer;
}

.required-msg {
    display: inline;
}