.title {
    padding-bottom: 5px;
}

.time-stamp {
    text-align: left;
    color:#6c757d;
}

.title {
    color: var(--tu-orange);
    text-align: center;
    font-weight: bold;
}
#page-description{
    text-align: center;
}


.time-stamp {
    text-align: left;
    color:#6c757d;
}

h1{
    text-align: center;
}

.border{
    border:none !important;
}

.btn-primary{
    margin-top: 15px;
}