 <div class="container">
   <div>
     <h1 class="title">Comments</h1>
     <h5 id='tiger-description'>"Be Nice!"</h5>
     <hr>
   </div>
   <div class="row">
     <div class="col-md-4">
       <tigerspace-list></tigerspace-list>
     </div>
     <div class="col-sm-8">
       <h1>Post</h1>
       <div class="container-fluid border">
         <div *ngFor="let post of post">
           <div class="card">
             <div class="card-header"><i class="bi bi-person-circle"></i>
               {{post.UserId}} | {{post.Major}} | {{post.Pronouns}} <button type="button" style="float:right;"
                 class="btn btn-outline-warning"><i class="bi bi-flag-fill"></i></button>
             </div>
             <div class="card-body">
               <h5 class="card-title">{{post.Title}} </h5>
               <p class="card-text">{{post.Body}}</p>
             </div>
             <div class="card-footer">
               <div class="time-stamp"> {{post.Timestamp}}</div>
             </div>
           </div>
           <br><br>
           <h1>Comments</h1>
         </div>
         <div class="container-fluid border">
           <div *ngFor="let comment of comment">
             <div class="card">
               <div class="card-header"><i class="bi bi-person-circle"></i>
                 {{comment.Id}} | {{comment.Major}} | {{comment.Pronouns}} <button type="button" style="float:right;"
                   class="btn btn-outline-warning"><i class="bi bi-flag-fill"></i></button>
               </div>
               <div class="card-body">
                 <h5 class="card-title">{{comment.Body}} </h5>
               </div>
               <div class="card-footer">
                 <div class="time-stamp"> {{comment.Timestamp}}</div>
               </div>
             </div>
             <br>
           </div>
         </div>
       </div>
     </div>
   </div>