<div class="signup-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
      </mat-card-header>
  
      <form class="">
  
        <mat-card-content>
          <mat-form-field class="">
            <input matInput placeholder="First Name">
          </mat-form-field>
          <br>
          <mat-form-field class="">
            <input matInput placeholder="Last Name">
          </mat-form-field>
          <br>
          <mat-form-field class="">
            <input matInput placeholder="Preferred Pronouns">
          </mat-form-field>
          <br>
          <mat-form-field class="">
            <input type="email" matInput placeholder="Towson Email Address">
            <mat-hint>Your email should end in "towson.edu"!</mat-hint>
          </mat-form-field>
          <br>
          <br>
          <mat-form-field class="">
            <input type="password" matInput placeholder="Password">
          </mat-form-field>
          <br>
          <mat-form-field class="">
            <input type="password" matInput placeholder="Verify Password">
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Sign Up!</button>
  
      </form>
    </mat-card>
  </div>