<div class="title">
    <h1>Tiger Spaces</h1>
</div>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <h5>Academic</h5>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
        <div class="accordion-body">
            <div class="list-group">
                <a routerLink="/tigerspaces/1" routerLinkActive="active"
                  class="list-group-item list-group-item-action">College of Business and Economics (CBE)</a>
                <a routerLink="/tigerspaces/2" routerLinkActive="active"
                  class="list-group-item list-group-item-action">College of Education</a>
                <a routerLink="/tigerspaces/3" routerLinkActive="active"
                  class="list-group-item list-group-item-action">College of Fine Arts and Communication (CFA)</a>
                <a routerLink="/tigerspaces/4" routerLinkActive="active"
                  class="list-group-item list-group-item-action">College of Health Professions (CHP)</a>
                <a routerLink="/tigerspaces/5" routerLinkActive="active"
                  class="list-group-item list-group-item-action">College of Liberal Arts (CLA)</a>
                <a routerLink="/tigerspaces/6" routerLinkActive="active"
                  class="list-group-item list-group-item-action">Fisher College of Science and Mathematics (FCSM)</a>
                <a routerLink="/tigerspaces/7" routerLinkActive="active"
                  class="list-group-item list-group-item-action">Honors College</a>
                <a routerLink="/tigerspaces" class="list-group-item list-group-item-action">Others</a>
            </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h5>Social</h5>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
        <div class="accordion-body">
            <div class="list-group">
              <a routerLink="/tigerspaces/8" routerLinkActive="active"
                class="list-group-item list-group-item-action">Housing</a>
              <a routerLink="/tigerspaces/9" routerLinkActive="active"
                class="list-group-item list-group-item-action">Clubs and Organizations</a>
              <a routerLink="/tigerspaces/10" routerLinkActive="active" 
                class="list-group-item list-group-item-action">Campus Life</a>
            </div>
        </div>
      </div>
    </div>
</div>